#site_header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    background-color: purple;
    display: flex;
}

#site_title:hover {
    cursor: pointer;
}

#site_title {
    color:antiquewhite;
    font-weight:700;
    font-size: 30px;
    margin-left:20px;
}

.user_email_header {
    color:antiquewhite;
    font-weight:700;
    font-size: 24px;
    padding-top:0.3em;
}
.user_email_header:hover {
    text-decoration: none;
    color: antiquewhite
}

.header_row {
    width: 100%;
    justify-content: space-between;
}

#profile_name {
    color:antiquewhite;
    font-weight:400;
    font-size: 18px;
    align-self: center;
    margin-left: auto;
}

#sidebar_title_row {
    margin-top: 0.5em;
    justify-content: center;
}

#sidebar_title {
    font-size: 24px;
    font-weight: 700;
}

html,body,.container {
    height:100%;
    background-color: rgb(250, 227, 251);
}

.sidebar_link_btn {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    width:90%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.sidebar_link_btn:hover {
    text-decoration: none;
    color: black;
}

.sidebar_link_btn:hover {
    background-color: rgb(244, 158, 198);
}

.sidebar_link_row {
    margin-top: 0.5em;
    justify-content: center;
}

.active {
    font-weight:700;
}

.small_margin_bot {
    margin-bottom: 10px;
}

.appt-box {
    border-color: gray;
    border-style: outset;
    border-width: 2px;
}

.desc_box {
    border-color: gray;
    border-style: outset;
    border-width: 2px;
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: 200px;
    background-color: whitesmoke;
    padding: 5px;
    text-overflow:ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.input_box {
    border-color: gray;
    border-style: outset;
    border-width: 2px;
    background-color: whitesmoke;
    padding: 5px;
    word-wrap: break-word;
    overflow: hidden;
}

#user_prof_name {
    text-transform: capitalize;
}
